0.017 0.002 0.005 0.035 10 30 0.05 0.2 3800 4500
3  0.3   1.0    12
0.1     0.1    0.0   1.2
3
4500 5200 mask_elines.txt /disk-b/sanchez/ppak/legacy/OIII_V600.config 9 /disk-b/sanchez/ppak/legacy/mask_elines_H.txt 20 1950
6500 6850 mask_elines.txt /disk-b/sanchez/ppak/legacy/Ha_V600.config 9 /disk-b/sanchez/ppak/legacy/mask_elines_H.txt 20 1950
6700 7020 mask_elines.txt /disk-b/sanchez/ppak/legacy/SII_V600.config 9 /disk-b/sanchez/ppak/legacy/mask_elines_H.txt 20 1950
0.0001  1  0.005
6628 6760
