rm junk.fits
cp PREFIX.fits junk.fits
cr_lap_clean.pl PREFIX.fits 0.5 15 junk.fits mask.junk.fits

image_plot.pl mask.junk.fits mask.std1.ps/CPS


rm tjunk.fits
cp TRACE.fits tjunk.fits
peak_find tjunk.fits 0 10 0 5 1 3 0.1 tjunk.peaks
rm tjunk.trc.fits
trace_peaks_recursive tjunk.fits 0 tjunk.peaks 10 3 0 5 2 tjunk.trc.fits 0 2.5
polyfit.pl tjunk.trc.fits 5 ptjunk.trc.fits 300 1900 /null
mv ptjunk.trc.fits tjunk.trc.fits


rm junk.ms.fits
rm junk.ms0.fits
rm junk.var.fits
#extract_aper junk.fits 0 tjunk.trc.fits 5 junk.ms.fits
#extract_gauss_simple junk.fits 0 tjunk.trc.fits 7 junk.ms0.fits junk.var.fits 2.5 0 2
extract_gauss_simple junk.fits 0 tjunk.trc.fits 7 junk.ms.fits junk.var.fits 2.5 0 2
#cr_lap_clean.pl junk.ms0.fits 0.5 30 junk.ms.fits mask.junkfits



rm arc.fits
cp CALIBW.fits arc.fits
#cr_lap_clean.pl CALIBW.fits 0.5 30 arc.fits mask_arc.fits

rm arc.ms.fits
rm arc.ms0.fits
extract_aper arc.fits 0 tjunk.trc.fits 5 arc.ms0.fits
cr_lap_clean.pl arc.ms0.fits 0.5 30 arc.ms.fits mask.arc.fits
#image_plot.pl arc.ms.fits /xs
rm arc.dc0.fits
#dist_cor arc.ms.fits arc.dc0.fits arc.dist.txt 0 850 70 1 0 2 0 855 
dist_cor arc.ms.fits arc.dc0.fits arc.dist.txt 0 1315 70 1 0 2 0 1315
#image_plot.pl arc.dc0.fits /xs
rm arc.dc1.fits
rm arc.dist.fits
mdist_cor_sp arc.dc0.fits 7 30 4 arc.dc1.fits arc.dist.fits 22 10100 0 3 5 140 ARC.dist.id
#image_plot.pl arc.dc1.fits /xs
rm junk.dc1.fits
mdist_cor_external junk.ms.fits arc.dist.txt arc.dist.fits junk.dc1.fits 0
cp junk.dc1.fits PREFIX.disp_cor.fits
rm arc.disp_cor.fits
disp_cor arc.dc1.fits 3400 0.7 10 30 3 4 arc.disp_cor.fits arc.disp.txt 0 1980 ARC.disp.id
#image_plot.pl arc.disp_cor.fits /xs
rm junk.disp_cor.fits
disp_cor_external junk.dc1.fits 3400 0.7 junk.disp_cor.fits arc.disp.txt 0
#cp junk.disp_cor.fits PREFIX.disp_cor.fits
rm junk_tmp.fc.fits
imarith junk.disp_cor.fits / fiberflat.fits junk_tmp.fc.fits
rm junk.fc.fits
imarith junk_tmp.fc.fits "*" mask.fiberflat.fits junk.fc.fits
#cp junk.fc.fits PREFIX.fc.fits
split_ppak.pl junk.fc.fits junk.obj.fits junk.cal.fits junk.sky.fits 0
median_spec.pl junk.sky.fits mjunk.sky.fits 331
rm -f junk.sobj.fits
imarith junk.obj.fits - mjunk.sky.fits junk.sobj.fits
cp junk.sobj.fits PREFIX.sobj.fits
write_img_header.pl PREFIX.sobj.fits CRPIX1 1
write_img_header.pl PREFIX.sobj.fits CRVAL1 3400
write_img_header.pl PREFIX.sobj.fits CDELT1 0.7


