rm tjunk.fits
cp TRACE.fits tjunk.fits
peak_find tjunk.fits 0 10 0 5 1 3 0.1 tjunk.peaks
rm tjunk.trc.fits
trace_peaks_recursive tjunk.fits 0 tjunk.peaks 10 3 0 5 2 tjunk.trc.fits 0 2.5
polyfit.pl tjunk.trc.fits 5 ptjunk.trc.fits 300 1900 /null
mv ptjunk.trc.fits tjunk.trc.fits


rm arc.fits
cp CALIBW.fits arc.fits
#

rm arc.ms.fits
rm arc.ms0.fits
extract_aper arc.fits 0 tjunk.trc.fits 5 arc.ms.fits
#cr_lap_clean.pl arc.ms0.fits 0.5 15 arc.ms.fits mask.arc.fits


#image_plot.pl arc.ms.fits /xs
rm arc.dc0.fits
#dist_cor arc.ms.fits arc.dc0.fits arc.dist.txt 0 850 70 1 0 2 0 855 
dist_cor arc.ms.fits arc.dc0.fits arc.dist.txt 0 850 70 1 0 2 0 855 

#image_plot.pl arc.dc0.fits /xs
rm arc.dc1.fits
rm arc.dist.fits
mdist_cor_sp arc.dc0.fits 8 30 4 arc.dc1.fits arc.dist.fits 22 10100 0 3 5 140 ARC.dist.id
#image_plot.pl arc.dc1.fits /xs
rm arc.disp_cor.fits
#disp_cor arc.dc1.fits 3745 2.0 10 30 3 4 arc.disp_cor.fits arc.disp.txt 0 1980 ARC.disp.id
disp_cor.pl arc.dc1.fits 3745 2.0 5 30 3 -5 arc.disp_cor.fits arc.disp.txt 0 1970 ARC.disp.id
split_ppak.pl arc.disp_cor.fits arc.obj.fits arc.cal.fits arc.sky.fits 0
check_wavelength_cal.pl arc.sky.fits elines_ARC_V500.txt 3745 2.0 10 1 0 > check_wavelength.ARC
disp_lat.pl check_wavelength.ARC 1 2 'V500 Wavelength (\A) ARC' '\gD \gl \A' PREFIX.recal_w.ps/CPS 3500 7350 -1 1 0 8 3745 2

rm -f arc.new.spec
#cp arc.disp.txt arc.new.spec
spec_arith.pl arc.disp.txt + lat.txt arc.new.spec
#spec_arith.pl arc.disp.txt + lat.V500.spec arc.new.spec
rm -f arc.disp_cor.fits
#disp_cor_external.pl arc.dc1.fits 3745 2.0 arc.disp_cor.fits arc.new.spec 0

disp_cor_external.pl arc.dc1.fits 3745 2.0 arc.disp_cor.fits arc.disp.txt 0
split_ppak.pl arc.disp_cor.fits  arc.obj.fits arc.cal.fits arc.sky.fits 0
write_img_header.pl arc.obj.fits CRPIX1 1
write_img_header.pl arc.obj.fits CRVAL1 3745
write_img_header.pl arc.obj.fits CDELT1 2.0
