rm junk.fits
imarith PREFIX.fits - mbias.fits junk.fits
rm fjunk.fits
imarith junk.fits / CCDFlat.fits fjunk.fits
cp fjunk.fits junk.fits
rm tjunk.fits
imarith TRACE.fits - mbias.fits tjunk.fits
peak_find tjunk.fits 0 10 0 5 1 3 0.05 tjunk.peaks
rm tjunk.trc.fits
trace_peaks_recursive tjunk.fits 0 tjunk.peaks 10 3 0 5 2 tjunk.trc.fits 0 2.5
polyfit.pl tjunk.trc.fits 5 ptjunk.trc.fits 100 950 /null
mv ptjunk.trc.fits tjunk.trc.fits
#
# We find the width of the gaussians
#
peak_find_width.pl tjunk.fits 0 10 2 5 1 3 0.5 tjunk.width > tjunk.mean.width
cp tjunk.width PREFIX.width
cp tjunk.mean.width PREFIX.mean.width
cp peak_find_width.ps PREFIX.width.ps


rm junk.ms.fits
rm junk.var.fits
#extract_aper junk.fits 0 tjunk.trc.fits 5 junk.ms.fits
extract_gauss_simple junk.fits 0 tjunk.trc.fits 7 junk.ms.fits junk.var.fits 2.5 0 2

rm arc.fits
imarith CALIBW.fits - mbias.fits arc.fits
rm arc.ms.fits
extract_aper arc.fits 0 tjunk.trc.fits 5 arc.ms.fits
#image_plot.pl arc.ms.fits /xs
rm arc.dc0.fits
dist_cor arc.ms.fits arc.dc0.fits arc.dist.txt 0 550 30 1 0 2 550
#image_plot.pl arc.dc0.fits /xs
rm arc.dc1.fits
rm arc.dist.fits
mdist_cor_sp arc.dc0.fits 5 30 4 arc.dc1.fits arc.dist.fits 22 10100 0 0 0 2 ARC.dist.id
#image_plot.pl arc.dc1.fits /xs
rm junk.dc1.fits
mdist_cor_external junk.ms.fits arc.dist.txt arc.dist.fits junk.dc1.fits 0
cp junk.dc1.fits PREFIX.disp_cor.fits
rm arc.disp_cor.fits
disp_cor arc.dc1.fits 3620 3.2 10 30 3 4 arc.disp_cor.fits arc.disp.txt 0 1074 ARC.disp.id
#image_plot.pl arc.disp_cor.fits /xs
rm junk.disp_cor.fits
disp_cor_external junk.dc1.fits 3620 3.2 junk.disp_cor.fits arc.disp.txt 0
#cp junk.disp_cor.fits PREFIX.disp_cor.fits
rm junk.fc.fits
imarith junk.disp_cor.fits / fiberflat.fits junk.fc.fits
#cp junk.fc.fits PREFIX.fc.fits


flux_calib.pl junk.fc.fits ratio.txt EXPTIME EXTINCTION AIRMASS junk.FC.fits

split_ppak.pl junk.FC.fits junk.obj.fits junk.cal.fits junk.sky.fits 0
median_spec.pl junk.sky.fits mjunk.sky.fits 331
rm -f junk.sobj.fits
imarith junk.obj.fits - mjunk.sky.fits junk.sobj.fits
cp junk.sobj.fits PREFIX.sobj.fits
write_img_header.pl PREFIX.sobj.fits CRPIX1 1
write_img_header.pl PREFIX.sobj.fits CRVAL1 3620
write_img_header.pl PREFIX.sobj.fits CDELT1 3.2
cp junk.sky.fits PREFIX.sky.fits
write_img_header.pl PREFIX.sky.fits CRPIX1 1
write_img_header.pl PREFIX.sky.fits CRVAL1 3620
write_img_header.pl PREFIX.sky.fits CDELT1 3.2
cp mjunk.sky.fits PREFIX.msky.fits
write_img_header.pl PREFIX.msky.fits CRPIX1 1
write_img_header.pl PREFIX.msky.fits CRVAL1 3620
write_img_header.pl PREFIX.msky.fits CDELT1 3.2
spec2D_plot.pl mjunk.sky.fits 0 PREFIX.msky.ps > PREFIX.msky.level
img2spec.pl PREFIX.msky.fits 0 spec_PREFIX.msky.txt


